*{

  padding: 0;
  margin: 0;
  box-sizing: border-Box;
}
.App{
  background-color: rgb(42, 93, 109);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: rgb(209, 236, 51);
  font-size: 50px;
  font-family: 'Gill Sans';
}
p{
  color: rgb(210, 228, 243);
  
  
}
#temperature{
  font-size: 45px;
  font-weight: 600;
  color:rgb(245, 14, 149);
}
button{
  padding: .5rem 2rem;
  margin-top: 2rem;
  background-color: rgb(250, 188, 222);
  border: none;
  transition: all 0.2 ease-in;
}
button:hover{
 font-size: 20px;
}
#city{
  color: rgb(224, 255, 85);
  font-weight: 600;
}


